# Bayes Stuff

In [2]:
# (Uncomment and) Run this cell to properly import from another Jupyter Notebook (in this case my functions notebook)
# !pip install ipynb

In [99]:
from ipynb.fs.full.functions import *

In [100]:
df = pd.read_csv('../data/comments.csv')
df.shape

(10000, 37)

In [101]:
df = df[['author', 'body', 'score', 'subreddit']]
df.head()

,author,body,score,subreddit
0,AgronLovesSteel,Omg sooo good just finished! Gotta have some f...,1,AMA
1,Adventurous-Mess9304,Great answer,2,AMA
2,ab901,thank you for serving and protecting!,1,AMA
3,[deleted],[deleted],1,AMA
4,pardo92,Im sure they brighten the place up :) hows the...,1,AMA

In [5]:
df.isna().sum()

author       0
body         0
score        0
subreddit    0
dtype: int64

In [6]:
df['subreddit_binary'] = np.where(df['subreddit'] == 'AMA', 0, 1)

In [7]:
df['body'] = np.where(df['body'] == '[deleted]', np.nan, df['body'])
df

,author,body,score,subreddit,subreddit_binary
0,AgronLovesSteel,Omg sooo good just finished! Gotta have some f...,1,AMA,0
1,Adventurous-Mess9304,Great answer,2,AMA,0
2,ab901,thank you for serving and protecting!,1,AMA,0
3,[deleted],NaN,1,AMA,0
4,pardo92,Im sure they brighten the place up :) hows the...,1,AMA,0
...,...,...,...,...,...
9995,Chief_BRUH,Bruh,1,AskReddit,1
9996,thelemonx,Pretty much all herbivores are. People think ...,50,AskReddit,1
9997,dieinafirenazi,A rat in an enriching environment (other rats ...,37,AskReddit,1
9998,theFLORIDAman04,"""You are the worst child I have had"" or the cl...",1,AskReddit,1
9999,pyro57,"Super sorry to hear that bud... It does suck, ...",2,AskReddit,1

In [8]:
df.isna().sum()

author                0
body                173
score                 0
subreddit             0
subreddit_binary      0
dtype: int64

In [9]:
df.dropna(inplace=True)
df

,author,body,score,subreddit,subreddit_binary
0,AgronLovesSteel,Omg sooo good just finished! Gotta have some f...,1,AMA,0
1,Adventurous-Mess9304,Great answer,2,AMA,0
2,ab901,thank you for serving and protecting!,1,AMA,0
4,pardo92,Im sure they brighten the place up :) hows the...,1,AMA,0
5,strawberrycreampie,"yes, i would have needed the gun. im much too ...",1,AMA,0
...,...,...,...,...,...
9995,Chief_BRUH,Bruh,1,AskReddit,1
9996,thelemonx,Pretty much all herbivores are. People think ...,50,AskReddit,1
9997,dieinafirenazi,A rat in an enriching environment (other rats ...,37,AskReddit,1
9998,theFLORIDAman04,"""You are the worst child I have had"" or the cl...",1,AskReddit,1
9999,pyro57,"Super sorry to hear that bud... It does suck, ...",2,AskReddit,1

In [10]:
X = df[['author', 'body', 'score']]
y = df['subreddit_binary']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=3)

In [12]:
(X_train.shape, y_train.shape)

((7370, 3), (7370,))

In [13]:
(X_test.shape, y_test.shape)

((2457, 3), (2457,))

In [14]:
#vectorize
cvect = CountVectorizer(stop_words='english', max_features=500)
X_train_cvect = cvect.fit_transform(X_train)

In [15]:
X_train_cvect.

SyntaxError: invalid syntax (<ipython-input-15-8d81ad2fe686>, line 1)

In [ ]:
bayes = MultinomialNB()
bayes.fit(X_train_cvect, y_train)
bayes.score(X_train_cvect, y_train)

In [ ]:
y.value_counts(normalize=True)